body{
    margin: 0;
}
h1{
    text-align: center;
    font-family: monospace;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.walk1{
    width: 150px;
    height: 300px;
    background-image: url(img/walk1.png);
    background-repeat: no-repeat;
    background-size: 900px;
    animation: w1Effect 1s steps(6) infinite;
}
@keyframes w1Effect{
    from{
        background-position: 0px;
    }to{
        background-position: -900px;
    }
}

.walk2{
    width: 150px;
    height: 300px;
    background-image: url(img/walk2.png);
    background-repeat: no-repeat;
    background-size: 1200px;
    animation: w2Effect 1s steps(8) infinite;
}
@keyframes w2Effect{
    from{
        background-position: 0px;
    }to{
        background-position: -1200px;
    }
}
